<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Redmine TaskJuggler Project Control</title>
</head>

<body>
<h2>Redmine TaskJuggler Project Control Page</h2>
<p>Project : %project.name%</p>
<p>Sub-project : %Sub-Projects%</p>
<p>[export work-breakdown structure]</p>
<p>[export bookings]</p>
<p>[import dates] </p>
<p>Project Parameters :</p>
<dl>
  <dt>Project ID:</dt>
  <dd><%= @redmine_taskjuggler_project.project_id %></dd>

  <dt>Active:</dt>
  <dd><%= @redmine_taskjuggler_project.active %></dd>

  <dt>Roottask:</dt>
  <dd><%= @redmine_taskjuggler_project.roottask %></dd>

  <dt>Start date:</dt>
  <dd><%= @redmine_taskjuggler_project.start_date %></dd>

  <dt>End date:</dt>
  <dd><%= @redmine_taskjuggler_project.end_date %></dd>

  <dt>Dailyworkinghours:</dt>
  <dd><%= @redmine_taskjuggler_project.dailyworkinghours %></dd>

  <dt>Timeformat:</dt>
  <dd><%= @redmine_taskjuggler_project.timeformat %></dd>
</dl>
<p>&nbsp;</p>
</body>
</html>
