<table>
  <tbody>
    <tr>
      <th>Server Path for TaskJuggler Creation</th>
      <td><input type="text" id="tjp_path" 
                     value="<%= settings['tjp_path'] %>" 
             name="settings[tjp_path]" >
    </tr>
  </tbody>
</table>
<p>TJ Teams can be administered <a href="/redmine_taskjuggler_teams">here</a>.</p>